body {
   background-color: #9ed5cf;
   color: inherit;
   border: 10px dotted #233939;
   border-radius: 20px;
   width: 1440px;
   margin: auto;
   padding: .5%;
}
header {
   text-align: center;
   background-color:#aab6b6;
   color: inherit;
   margin: auto;
   width: 1300px;
   height: 120px;
}
nav {
   text-align: center;
   font-size: 20px;
}
h1 {
   font-family: 'Zilla Slab', sans-serif;
   font-size: 40px;
}
h2 {
   text-align: center;
   font-family: 'Zilla Slab', sans-serif;
   font-size: 30px;
}
h3 {
   text-align: center;
}
section {
   padding: 1%;
}
p {
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
}
img.center {
display: block;
margin-left: auto;
margin-right: auto;
}
