body {
  background-color: #9ed5cf;
  border: 10px dotted #66a2a3;
  border-radius: 20px;
}
header {
   text-align: center;
   background-color: #7b8f8c;
   margin: auto;
   width: 1500px;
   height: 90px;
}
nav {
   text-align: center;
   font-size: 20px;
}
h2 {
   text-align: center;
p {
   text-align: center;
}